* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
    /* overflow: hidden; */

}

.hidden {
    display: none !important;
}

/* .input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */
input {
    width: 100%;
    ;
}

.logo {
    margin-bottom: 2.4rem;
}


.module {
    width: 65%;
    padding: 3rem;
    background-color: white;
    box-shadow: 0 5px 1rem 0px grey;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}

.module .selection-label,
.description-title {
    /* display: block; */
    font-size: 1.6rem;
    font-weight: 400;
}

.error-message {
    font-size: 1.4rem;
    color: red;
}

.title-and-error {
    margin-bottom: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.description-title {
    color: #fff;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

.per-person {
    color: rgb(179, 179, 179);
    font-size: 0.9rem;
}

.total {
    font-size: 2.5rem;
    color: hsl(172, 67%, 45%);
    font-weight: 600;

}

.reset-btn {
    font-size: 1.6rem;
    width: 100%;
    padding: 1rem 0;
    border: 0;
    border-radius: 0.5rem;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    font-weight: bold;
    color: hsl(183, 100%, 15%);
    transition: all 0.3s;
}

.reset-btn {
    background-color: hsl(172, 67%, 45%);
}


.active-btn {
    color: hsl(183, 100%, 15%) !important;
    background-color: hsl(172, 67%, 45%) !important;
}

.allowed:hover {
    background-color: #9FE8DF;
    cursor: pointer;
}

.disabled {
    cursor: not-allowed !important;
    /* pointer-events: none; */
    opacity: 50%;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.input-form {
    margin-bottom: 2.5rem;
    width: 100%;
}

.label-and-input {
    display: flex;
    align-items: center;
    border: 1px solid #e1e6e9;
    background-color: #e1e6e9;
    border-radius: 0.5rem;
    width: 100%;
    transition: all 0.2s;
    padding-left: 1rem;
}

.label-and-input:hover,
.label-and-input *:hover {
    cursor: pointer;
}

.img-label {
    /* position: absolute;
    top: -50%; */
}

.label-and-input:hover {
    border: 1px solid hsl(183, 100%, 15%);
}

.focused {
    border: 1px solid hsl(183, 100%, 15%) !important;
}


.input-box {

    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    background-color: #e1e6e9;
    width: 100%;
    text-align: right;
    border-radius: 0.5rem;
    font-family: 'Space Mono', monospace;
    border: none;
}


.img-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-icon {
    /* height: 100%; */
    /* padding-top: 1rem; */
    height: 1.8rem;
    /* padding: 1rem; */

    /* padding: 1rem 0; */
    /* font-size: 10rem; */
}

.input-box::placeholder {
    font-family: 'Space Mono', monospace;

}

.input-box:focus {
    outline: none;
}

.tip-selection {
    margin-bottom: 2.5rem;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    align-items: center;
    gap: 1rem;
    margin-top: 1.7rem;
    overflow: hidden;
    margin-bottom: 2.4rem;
    /* width: 100%; */
    /* justify-items: center; */

}

.buttons * {
    border-radius: 0.5rem;
    font-size: 2rem;
    font-family: 'Space Mono', monospace;
    width: 100%;
}

.custom-tip {
    padding: 1rem;
    background-color: #e1e6e9;
    border: 1px solid #e1e6e9;
    font-weight: 600;
    text-align: center;
    transition: all 0.3s;

}

.custom-tip:focus,
.custom-tip:hover {
    border: 1px solid hsl(183, 100%, 15%);
    ;
    outline: none;
}

.tip-amount-button {
    padding: 1rem;
    background-color: hsl(183, 100%, 15%);
    color: white;
    font-weight: 600;
    transition: all 0.3s;
    border: none;


}

.tip-amount-button:hover {
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
    cursor: pointer;

}

.output {
    display: flex;
    flex-direction: column;
    background-color: hsl(183, 100%, 15%);
    border-radius: 0.5rem;
    padding: 4rem;
    justify-content: space-between;
}

.sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.8rem;
}

.content {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* height: 100%; */
}

.attribution {
    font-size: 1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}